
<div th:fragment="content">
    <div class="row-fluid">

        <div class="span6">
            <div class="widget">
                <div class="widget-header">
                    <i class="icon-tasks"></i>
                    <h3> Location Settings </h3>
                </div>
                <div class="widget-content">
                    <div>
                        <form class="form-horizontal">
                            <div class="control-group">
                                <label class="control-label" for="inputImageLocation">Image Location</label>
                                <div class="controls">
                                    <input type="text" id="inputImageLocation" 
					   data-bind="value: generalSettings.imageLocation" />
                                    <span class="help-inline">
				    This is the location on the server where the images are stored, usually /home/partimag 
				    </span>
                                </div>
                            </div>

                            <div class="control-group">
                                <div class="controls">
                                    <button class="btn btn-large btn-primary" data-bind="click: $root.locationSave, 
                                                                                         html: locationSaveText, 
                                                                                         enable: isLocationSaving">
                                        <i class="icon-tasks"></i>
                                        Save
                                    </button> 
                                </div>
                            </div>
                            <input type="hidden" id="getGeneralUrl" th:value="@{/settings/general}" />
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="span6">
            <div class="widget">
                <div class="widget-header">
                    <i class="icon-tasks"></i>
                    <h3> Multi-Cast Settings </h3>
                </div>
                <div class="widget-content">
                    <div>
                        <form class="form-horizontal">
                            <div class="control-group">
                                <label class="control-label" for="mcastRdvAddr">Multicast Rendevous Address</label>
                                <div class="controls">
                                    <input type="text" id="mcastRdvAddr" data-bind="value: mcastSettings.rdvAddress" />
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="mcastSendAddr"> Multicast Sender Address</label>
                                <div class="controls">
                                    <input type="text" id="mcastSendAddr" data-bind="value: mcastSettings.senderAddress" />
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="mcastTTL"> Multicast TTL</label>
                                <div class="controls">
                                    <input type="text" id="mcastTTL" data-bind="value: mcastSettings.multicastTTL" />
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="mcastPort"> Multicast Port</label>
                                <div class="controls">
                                    <input type="text" id="mcastPort" data-bind="value: mcastSettings.multicastPort" />
                                </div>
                            </div>

                            <div class="control-group">
                                <div class="controls">
                                    <button class="btn btn-large btn-primary" data-bind="click: $root.multicastSave,
                                                                                         html: multicastSaveText,
                                                                                         enable: isMulticastSaving()">                                        
                                        Save
                                    </button> 
                                </div>
                            </div>
                            <input type="hidden" id="getMulticastUrl" th:value="@{/settings/multicast}" />
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

