
<div th:fragment="content">
    <div class="row-fluid">

        <div class="span6">
            <div class="widget">
                <div class="widget-header">
                    <i class="icon-tasks"></i>
                    <h3>Start a Multicast Download Session </h3>
                </div>
                <div class="widget-content">
                    <div>
                        <form class="form-horizontal">
                            <input type="text" class="input-block-level" id="inputEmail" placeholder="Session" />    
                            <button class="btn btn-large btn-primary" data-bind="click: $root.startDownloadSession"> Start </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>