
<div th:fragment="content">
    <div class="row-fluid">
        <div class="span6">
            <div class="widget">
                <div class="widget-header">
                    <i class="icon-tasks"></i>
                    <h3> Current Tasks </h3>
                </div>
                <div class="widget-content">
                    <div> Blah... </div>
                </div>
            </div>
        </div>

        <div class="span6">
            <div class="widget">
                <div class="widget-header">
                    <i class="icon-book"></i>
                    <h3> Another thing </h3>
                </div>
                <div class="widget-content">
                    <div> Zippy </div>
                </div>
            </div>
        </div>

    </div>
</div>    