<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:include="templates/meta :: head">
    </head>
    <body> 
        <div th:substituteby="templates/meta :: toolbar"></div>              
        
        <div class="row-fluid main">                      
            <div class="container" th:if="${error}">
                <div th:include="templates/meta :: error"></div>
            </div>
            
            <div class="container">
                <div class="well-large">
                    <h1 th:text="${errorCode}"> Error Code </h1>
                    <p th:text="${errorMessage}"> Error Message </p>
                </div>
            </div>
        </div>
        
        
        <footer th:include="templates/meta :: footer"></footer>
    </body>
</html>
<script th:src="@{/resources/js/springzilla.js}"></script>