<beans:beans
    xmlns:beans="http://www.springframework.org/schema/beans" 
    xmlns:sec="http://www.springframework.org/schema/security"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:http="http://www.springframework.org/schema/security"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd           
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
           http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd">
            
    <beans:bean name="placeholderConfig" class="edu.uc.labs.springzilla.config.PropertyPlaceholderConfig" />
        
    <sec:http pattern="/css/**" security="none" />
    <sec:http pattern="/login*" security="none" />
    <sec:http pattern="/s/**" security="none" />
    <sec:http auto-config="true" use-expressions="true">
        <sec:intercept-url pattern="/resources/**" method="GET"
                                   access="permitAll" />
        <sec:intercept-url pattern="/" access="isAuthenticated()" />
        <sec:form-login login-page="/login" authentication-failure-url="/login?fail=true"
                                default-target-url="/#Dashboard" />
        <!-- <remember-me /> -->
        <sec:session-management
            session-authentication-error-url="/login?type=concurrent-sessions">
            <sec:concurrency-control max-sessions="1"
                                                 error-if-maximum-exceeded="true" />
        </sec:session-management>
    </sec:http>

    <sec:global-method-security pre-post-annotations="enabled" />
    
        <sec:authentication-manager>
            <sec:authentication-provider>
                <sec:user-service>
                    <sec:user name="silbermm" password="password" authorities="ROLE_USER,ROLE_CLONEZILLA_ADMIN" />
                    <sec:user name="student" password="password" authorities="ROLE_USER" />
                </sec:user-service>
            </sec:authentication-provider>
        </sec:authentication-manager>
   

   
</beans:beans>
